/*------------------------------------- dropdown menu css----------------------------- */

html,
body {
  font-size: 16px;
  font-family: "Fira Mono", monospace;
  margin: 0;
}

.menu {
  background: var(--nav-bg);
  height: 4rem;
  display: flex;
  justify-content: space-between;
}

.menu ol {
  list-style-type: none;
  /* margin: 0 auto; */
  padding: 0;
}
.menu > ol {
  max-width: 50vw;
  /* padding: 0 2rem; */
  display: flex;
}
.menu > ol > .menu-item {
  flex: 1;
  padding: 0.75rem 0;
}
.menu > ol > .menu-item:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  bottom: 5px;
  left: calc(50% - 2px);
  background: #feceab;
  will-change: transform;
  transform: scale(0);
  transition: transform 0.2s ease;
}
.menu > ol > .menu-item:hover:after {
  transform: scale(1);
}
.menu-item {
  position: relative;
  line-height: 2.5rem;
  text-align: center;
}
.menu-item a {
  /* overflow: hidden; */
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  color: var(--text-color);
}
.sub-menu .menu-item {
  padding: 0.75rem 0;
  background: var(--nav-bg);
  opacity: 0;
  transform-origin: bottom;
  animation: enter 0.2s ease forwards;
}
.sub-menu .menu-item:nth-child(1) {
  animation-duration: 0.2s;
  animation-delay: 0s;
}
.sub-menu .menu-item:nth-child(2) {
  animation-duration: 0.3s;
  animation-delay: 0.1s;
}
.sub-menu .menu-item:nth-child(3) {
  animation-duration: 0.4s;
  animation-delay: 0.2s;
}
.sub-menu .menu-item:hover {
  /*background: #F8B195; */
}
.sub-menu .menu-item a {
  padding: 0 0.75rem;
}
.sub-menu {
  position: absolute;
  min-width: 100%;
  max-width: max-content;
  top: 100%;
  left: 0;
  display: none;
  z-index: 1;
}
/* .menu-item:hover > .sub-menu {
  display: block;
} */

.mega-submenu {
  left: 100% !important;
  top: 0 !important;
}

@keyframes enter {
  from {
    opacity: 0;
    transform: scaleY(0.98) translateY(10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ---------------------------------small window menu----------------------------  */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: var(--nav-bg);
  overflow-x: hidden;
  transition: 0.5s;
  display: none;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 1000%;
  text-align: center;
  margin-top: 0 auto;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: var(--text-color);
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: var(--text-color);
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  border: none;
  background: none;
  color: var(--text-color);
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* ------------------------------------------------ small window menu dropdown ---------------------------------------- */

.sidenav {
  height: 100%;
  width: 100%;
  z-index: 1;
  top: 20%;
  left: 0%;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a,
.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: var(--text-color);
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: center;
  cursor: pointer;
  outline: none;
}

.sidenav a:hover,
.dropdown-btn:hover {
  color: var(--text-color);
  background: var(--nav-bg);
}

.active {
  background-color: var(--background-opacity) !important;
  color: var(--text-color);
}

.dropdown-container {
  display: none;
  background-color: var(--nav-bg);
  padding-left: 0%;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.topnav-icons-small-screen {
  float: none !important;
  padding: 20px 0px;
}
